Matching results for <strong>'<%= @term %>'</strong>: 

<ul>
<% if !@matches.blank? %>
  <% for match in @matches %>
    <li><%= render_match_partial match %></li>
  <% end %>
<% else %>
  <li>No matching results.</li>
<% end %>
</ul>
<%= will_paginate @matches %>