<p>
User <%= @comment.user.blank? ? "Anonymous" : @comment.user.login %> has left the following comment: 
</p>
<p>
<%= @comment.comment %>
</p>
<p>
<%= "This comment is pending for approval." unless @comment.approved? %>
</p>