<div id="footer" class="clearfix">
     <span class="copyright"><strong><%=config['plugins.tog_core.site.name']%> © <%=Time.now.year%></strong></span>
     <span class="links"><a href="#">Acerca de</a> <a href="#">Condiciones de uso</a> <a href="#">Privacidad del sitio</a></span>
</div>  <!-- /#footer -->