<div id="footer" class="clearfix">
  <span class="copyright"><strong><%=config['plugins.tog_core.site.name']%> © <%=Time.now.year%></strong></span>
  <span class="links"><%= link_to "About #{config['plugins.tog_core.site.name']}", "http://www.toghq.com" %></span>
</div>  <!-- /#footer -->