<div id="footerlogged" class="clearfix">
     <div class="copyright">
         <strong><%=config['plugins.tog_core.site.name']%> © <%=Time.now.year%></strong>
         <br />
         This site is powered by the mighty Tog Platform <%= Tog::Core::Version.full_version %> 
     </div>
     <div class="links">
         <ul class="clearfix">
             <li>Tu actividad
                 <ul>
                     <li><a href="#">Fotos que has subido</a></li>
                     <li><a href="#">Videos referenciados</a></li>
                     <li><a href="#">Comentarios</a></li>
                 </ul>
             </li>
             <li>Explora
                 <ul>
                     <li><a href="#">Últimas fotos subidas</a></li>
                     <li><a href="#">Busca a tus amigos</a></li>
                     <li><a href="#">Los grupos + activos</a></li>
                 </ul>
             </li>
             <li>Ayuda
                 <ul>
                     <li><a href="#">Acerca del sitio</a></li>
                     <li><a href="#">Foro de ayuda</a></li>
                     <li><a href="#">Condiciones de uso</a></li>
                     <li><a href="#">Privacidad del sitio</a></li>
                 </ul>
             </li>
             <li>Another header
                 <ul>
                     <li><a href="#">More footer links</a></li>
                     <li><a href="#">Referenced links here</a></li>
                     <li><a href="#">More copy here too</a></li>
                 </ul>
             </li>
             <li>Another one
                 <ul>
                     <li><a href="#">Últimas fotos subidas</a></li>
                     <li><a href="#">Busca a tus amigos</a></li>
                     <li><a href="#">Los grupos + activos</a></li>
                 </ul>
             </li>
         </ul>
     </div>
</div>  <!-- /#footerlogged -->